
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(7,1fr);
  grid-template-areas: 

  "display display display display"
  "display display display display"
  "clear clear divide multiply"
  "seven eight nine subtract"
  "four five six add"
  "one two three equals"
  "zero zero decimal equals" ;

  grid-gap: 0.5rem;
}
.display {grid-area: display;
margin: 0;
padding:0.5rem;
display: flex;
flex-direction: column;
align-items: flex-end;
}
#clear {grid-area: clear;}
#divide {grid-area: divide;}
#multiply {grid-area: multiply;}
#seven {grid-area: seven;}
#eight {grid-area: eight;}
#nine {grid-area: nine;}
#subtract {grid-area: subtract;}
#four {grid-area: four;}
#five {grid-area: five;}
#six {grid-area: six;}
#add {grid-area: add;}
#one {grid-area: one;}
#two {grid-area: two;}
#three {grid-area: three;}
#equals {grid-area: equals;}
#zero {grid-area: zero;}
#decimal {grid-area: decimal;}
.grid > button {
  padding: 0.5rem 1.5rem;
}